{% extends "base.html" %}
{% block content %}
    {% if articles %}
        {% for article in articles %}
            <article id='{{ article.slug }}'>
                {% if article.slug[3:5] == '01' %}
                    <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
                {% elif article.slug[6:8] == '01' %}
                    <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                {% elif article.slug[9:11] == '01' %}
                    <h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
                {% else %}
                    <h4><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h4>
                {% endif %}
                <div>{{ article.summary }}</div>
            </article>
        {% endfor %}
    {% endif %}
{% endblock content %}
